@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";


body{
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--secondary-color);
  min-height: 100vh;

}

.app {
  display: flex;
  min-height: 100vh;
}

.StoryCentered{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
