.Field {
  padding: 10px 15px 10px 40px;
  position: relative;
  border-radius: 30px;
  background: var(--surface-secondary-color);

  input {
    width: 100%;
    border: none;
    background: inherit;
    color: var(--secondary-color);
  }

  input::placeholder {
    color: var(--secondary-color);
    opacity: .9;
  }

  input:focus {
    outline: none;
  }

  .icon {
    width: 18px;
    height: 18px;
    position: absolute;
    fill: var(--secondary-color);
    top: 50%;
    transform: translate(0, -50%);

  }

  .start{
    left: 15px;
  }

  .end{
    right: 15px;
  }

  .passwordIcon{
    user-select: none;
    cursor: pointer;
  }
}

.error{
  border: 1px solid var(--error-color);

  .icon{
    fill: var(--error-color);
  }
}
